@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
li {
  font-family: "Poppins", sans-serif;
}
a {
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
h1,
h3,
h2 {
  font-family: "montserrat", sans-serif;
}
